.btn{
    border: none;
    background: #4070f4;
    color: #fff;
    border-radius: 2px;
    transition: 0.2s;
}
.btn:hover{
    box-shadow: 0 0 0 1px #fff,
    0 0 0 2px #4070f4;
}

/*Nav drpp list*/
.nav_drop_list_title {
    background-color: #fff;
    color: #000;

    border:1px solid #000;
    border-radius: 3px;

    padding: 16px;
    font-size: 16px;
}

.nav_drop_list{
    position: relative;
    display: inline-block;
}
.nav_drop_list:hover .nav_drop_list_items {display: block;}

.nav_drop_list:hover .nav_drop_list_title {background-color: #ddd;}

.nav_drop_list_items {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.nav_drop_list_item {
    color: black;
    background-color: #fff;

    border: 1px black solid;
    border-radius: 3px;

    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
}
.nav_drop_list_item:hover {background-color: #ddd;}
